[submodule "Engine/External/Direct3DHeaders"]
	path = Engine/External/Direct3DHeaders
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Engine/External/Direct3DTexture"]
	path = Engine/External/Direct3DTexture
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Engine/External/inih/Source"]
	path = Engine/External/inih/Source
	url = https://github.com/benhoyt/inih
[submodule "Engine/External/volk"]
	path = Engine/External/volk
	url = https://github.com/zeux/volk.git
